extends ../layout

block content
  h1 Ajouter un Commentaire

  // Formulaire pour ajouter un commentaire
  form(action="/comments" method="POST")
    // Champ pour le contenu du commentaire
    div
      label(for="content") Contenu du Commentaire:
      textarea(name="content" id="content" rows="4" cols="50" required)
    
    //Champ pour l'ID de l'utilisateur (lié à user_id)
    div
      //label(for="user_id") ID de l'utilisateur:
      input(hidden type="number" name="user_id" id="user_id" )
    
    // Champ pour l'ID du post (lié à post_id)
    div
      //label(for="post_id") ID du post:
      input(hidden type="number" name="post_id" id="post_id")

    // Bouton de soumission
    div
<<<<<<< HEAD
      button(type="submit") Publier
      //button(class="delete" type="submit") Supprimer

  h2 on affiche un commentaire
      ul
        li
          p id: #{comment.id}
          p Contenu: #{comment.content}
          //p Créé le: #{comment.createdAt.toLocaleString()} 
          //p Mis à jour le: #{comment.updatedAt.toLocaleString()}
=======
      button(type="submit") Publier
>>>>>>> 2dbc3e6 (formulaire pour créer en commentaire ok + afficher tous les commentaires sur une vue manque la possibilité de modifier et supprimer un commentaire)
