extends ../layout

block content
  h2 on affiche un commentaire
    ul
      li
        p id: #{comment.id}
        p Contenu: #{comment.content}
        p Créé le: #{comment.createdAt.toLocaleString()} 
        p Mis à jour le: #{comment.updatedAt.toLocaleString()}